@import url('http://fonts.googleapis.com/css?family=Driod+Sans'); /* para añadir stylos de google font */


body {
    background-color: white;
    width: 100%;
    height: 100%;
}

section div img {
    width: 250px; 
    height: 250px;
    
}

iframe {
    width: 400px;
    height: 300px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none; /* elimina el subrayado */
}


/********************** TOP ********************************/
.button {
    background-color: #4CAF50;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cabeza {
    max-width: 100%;
    /*height: 10vh;*/
    top: 0;
    left: 0;
    background-color: cornsilk; 
    padding: 0.4rem;
}

header div {
    max-width: 100%;
    position: relative;
}
header div ul {
    display: flex;
    flex-direction: row;
    
    align-items: center; 
    justify-content: center;
}
header div ul li {
    color: black;
    text-align: center;
        
    flex: 1;
}
header div ul .tel {
    flex: 2;
}
header div ul .mail {
    text-align: left;
    flex: 5;
}
header div ul .ingresar {
    flex: 2;
}

/********************** MENU *******************************/
nav {
    max-width: 100%;
    /*border: 1px solid red;*/
    background-color: whitesmoke;
    padding: 1.5rem;
    position: relative;
}
nav ul {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
nav ul li {
    color: ;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    
    flex-grow: 1;
}
nav ul .logo {
    flex: 10;
}
header nav ul .li_home {
    
}
header nav ul .li_nosotros {
    
}
header nav ul .li_promociones {
    
    
}
header nav ul .li_fotos {
    
}
header nav ul .li_contacto {
    
}

/************************* SECCION PRINCIPAL ***********************************/
.inicio {
    max-width: 1200px;
    /*height: 90vh;*/
    /*padding: 200px;*/
    height: 800px;
    background-image: url(../imagenes/mascoteros.jpg);
    background-size: cover;
    margin: auto;
    
    /*transition: background-image 5s ease 2s;*/
    animation: mymove 20s  1s infinite linear;
}
@keyframes mymove {
    0% {background-image: url(../imagenes/mascoteros.jpg); }
    40%{background-image: url(../imagenes/pelux4.jpg); }
    70%{background-image: url(../imagenes/tobyx3.jpg);}
    100% {background-image: url(../imagenes/mascoteros.jpg);}
}

/************************* SECCION NOSOTROS ***********************************/
#nosotros {
    width: 100%;
    height: 100vh;
    /*padding: 200px;*/
    background-image: url(../imagenes/perros.jpg);
    background-size: cover;
    
    overflow: hidden;
}

h1 {
    margin: 0px 0px;
    padding: 50px;
    border: 0px;
    text-align: center;
}

/************************* SECCION GALERIA ***********************************/
#fotos {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}
section h2 {
    text-align: center;
    font-size: 30px;
    padding: 2rem;
    margin: 0px;
    
}
section .contenedor {
    
    
    /*flex-direction: row;
    flex-wrap: wrap;
 
    justify-content: center;
    align-content: space-between;*/
    
    max-width: 1200px;
    margin: auto;
    
}
section .caja {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
   /* flex: 1;*/
	/*width: 100px; No es correcto usar width*/

    
	/*flex-basis: ;
	flex-shrink: ;*/
}
.imagen1 {
    display: inline-block;
    max-width: 100%;
    
    
    /*flex: 1;
	flex-shrink: 2;*/
}
section div .img2 {
    /*flex: 4;
    flex-shrink: 1;*/
}
section div .img3 {
    /*flex: 2;*/
}

@media all and (max-width : 1350px){
    #fotos {
        height: auto;
        background-color: aqua;
    }
}




/************************ TERMINARRRRR *************************************/
/*#pag-inicial {
    color: red;
    *font-size: 50px;*
    text-align: center;
    font-weight: bold;
}

#header-form {
    color: red;
    *font-size: 50px;*
    text-align: center;
    font-weight: bold;
}

.heading3 {
    color: red;
    font-weight: bold;
}

.tablas {
    color: darksalmon;
    margin-top: 20px;
    margin-bottom: 20px;
}

p span {
    color: green;
}
*/

/*p {
    font-family: 'Tangerine';   
}*/


/* Atributos utiles
font-family: fuente de las letras
margin: margen a cada lado, arriba y abajo
padding: margen del relleno en los 4 lados
*/