#p1{
	color: red;
	font-family: 'Roboto', sans-serif;
	border: 1px solid powderblue;
	padding-top: 20px
}

.pepe {
	color: blue;
}

.p1c {
	color:green !important;

}

ul{
	list-style: lower-roman;
}

a{
	text-decoration: none;
}